# https://resend.com/api-keys
RESEND_API_KEY=XXXXX
NEXT_PUBLIC_APP_URL=http://localhost:3000 



SUPABASE_DB_PASSWORD=XXXX
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
# Correo que recibe los mensajes del formulario de contacto
CONTACT_TO_EMAIL=analmova2015@gmial.com
